NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://mongo:27017/bito_pos?replicaSet=rs0
JWT_SECRET=change-me-super-secret
JWT_EXPIRES_IN=8h
PAYMENT_WEBHOOK_SECRET=change-me-webhook-secret
REPORT_CACHE_TTL_MS=30000
